<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') -%>
    <title>About Us</title>
    <link rel="stylesheet" href="css/aboutus.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
    <script src="js/ourstory.js"></script>
</head>
<body>
<%- include('header') -%>
<div id="site-grid" style="transform: none;margin-top: 0px">
    <div id="site-wall-small">
        <div id="main-body-wrap">
            <div class="body-main">
                <div class="top-site">
                    <img src="https://s3.envato.com/files/220812629/preview_image.jpg" width="100%" height="500px" style="opacity: 0.6;object-fit: cover;">
                    <div class="top-site-text">
                        <h1>Welcome to DNBC</h1>
                    </div>
                </div>
                <div class="mid-site" id="mid-site">
                    <div class="container">
                        <div class="str-title col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            Our Story
                        </div>
                        <div class="str-content col-xs-12 col-sm-12 col-md-9 col-lg-9">
                            <ul>
                                <li class="story story1">
                                    <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
                                        <a href="#mid-site"><i class="fas fa-dot-circle"></i></a>
                                        <div class="bf"></div>
                                    </div>
                                    <p class="str str1 col-xs-9 col-sm-9 col-md-10 col-lg-10" id="str1">DNBC is an English language news channel based in Vietnam. It broadcasts free-to-air domestically and as a subscription network to 29 territories across Asia and Australia.</p>
                                </li>
                                <li class="story story2">
                                    <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
                                        <a href="#str1"><i class="fas fa-dot-circle"></i></a>
                                        <div class="bf"></div>
                                    </div>
                                    <p class="str str2 col-xs-9 col-sm-9 col-md-10 col-lg-10" id="str2">DNBC has the sixth widest reach among television news channels covering content indigenous to Asia.The network has been positioned since its launch as an alternative to Western-based international media in its presentation of news from "an Asian perspective".It is run by Vietnam Media Group.</p>
                                </li>
                                <li class="story story3">
                                    <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
                                        <a href="#str2"><i class="fas fa-dot-circle"></i></a>
                                        <div class="bf"></div>
                                    </div>
                                    <p class="str str3 col-xs-9 col-sm-9 col-md-10 col-lg-10" id="str3">DNBC also produces news and current affairs content in two languages: English, Vietnamese. Content is produced for Vietnam Media Group's online platforms, with news bulletins made for and shown on the company's mass entertainment channels Suria, Channel 5, U, Channel 8 and Vasantham.</p>
                                </li>
                                <li class="story story4">
                                    <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
                                        <a href="#str3"><i class="fas fa-dot-circle"></i></a>
                                        <div class="bf"></div>
                                    </div>
                                    <p class="str str4 col-xs-9 col-sm-9 col-md-10 col-lg-10" id="str4">DNBC provides news broadcasts through its own domestic radio station. It also provides live streaming world news through its official online portal, and its social media presence through Facebook, Instagram, YouTube[9] and Twitter as well as apps for tablets and mobile devices to allow viewers to remain informed at any time.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('footer') -%>
    </div>
</div>
</div>
</div>
</div>
<div id="close-nav" class="close-nav" onclick="closeNav()"></div>
</body>
