<div class="back-to-top"><i class="fas fa-chevron-up"></i></div>
<footer>
    <div class="container">
        <div class="footer-left col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <div class="logo-footer">
                <a href="/"><img src="imgs/dnbc.png" width="180" height="60"></a>
            </div>
        </div>
        <div class="footer-right left col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <ul class="left col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <li><a href="/about-us"><%-menu[4].CategoryName %></a></li>
                <li><a href="/contact-us"><%-menu[5].CategoryName %></a></li>
                <li><a href="/advertisement"><%-menu[6].CategoryName %></a></li>
            </ul>
            <p class="left col-xs-12 col-sm-12 col-md-12 col-lg-12">Copyright © 2020 DNBC International.</p>
        </div>
        <div class="footer-right1 col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <a href="#" class="download">
                <img src="https://www-growth.scdn.co/static/badges/apple/int.png">
            </a>
            <a href="#" class="download">
                <img src="https://www-growth.scdn.co/static/badges/google/int.png">
            </a>
            <a href="#" class="download">
                <img src="https://www-growth.scdn.co/static/badges/microsoft-windows/int.png">
            </a>
        </div>
        <div class="footer-right2 col-xs-12 col-sm-12 col-md-1 col-lg-1">
            <a href="#" class="social-network ftat">
                <i class="fab fa-facebook fa-1x"></i>
            </a>
            <a href="#" class="social-network ftat">
                <i class="fab fa-twitter-square fa-1x"></i>
            </a>
            <a href="#" class="social-network">
                <i class="fab fa-instagram fa-1x"></i>
            </a>
        </div>
    </div>
</footer>